<p>
	<strong>Question</strong>
	<%= @question.body %>
</p>
<br>



<%= form_for([@room, @question, @question.answers.build]) do |form| %>
<p>
	<%= form.label :text %><br>
	<%= form.text_field :text %>
</p>

<p>
	<%= form.submit "Create Answer" ,:class => "button"%>
</p>

<% end %>




<% @question.answers.each do |answer| %>
<p>
	<%= answer.text %>
</p>
<% end %>

<%= link_to 'Back', room_path(@room)  ,:class => "button2"%>
