<h1>Join Existing Room</h1>

<%= form_with scope: :join_room, url: join_room_path, local: true do |form| %>

    <!--<% if @room.errors.any? %>-->
        <!--<div id="error_explanation">-->
          <!--<h2>-->
            <!--<%= pluralize(@room.errors.count, "error") %>-->
            <!--prevented you from making this room:-->
          <!--</h2>-->
          <!--<ul>-->
            <!--<% @room.errors.full_messages.each do |msg| %>-->
                <!--<li><%= msg %></li>-->
            <!--<% end %>-->
          <!--</ul>-->
        <!--</div>-->
    <!--<% end %>-->

    <p>
      <%= form.label "Room Code" %><br>
      <%= form.text_field :name, placeholder: "put your room name here" %>
    </p>

    <p>
      <%= form.label "Username" %><br>
      <%= form.text_field :name, placeholder: "put your room name here" %>
    </p>


    <p>
      <%= form.submit %>
    </p>

<% end %>