<h1>Join Existing Room</h1>

<%= form_with scope: :join_room, url: join_room_path, local: true do |form| %>



    <p>
      <%= form.label "Room Code" %><br>
      <%= form.text_field :name, placeholder: "put your room code here" %>
    </p>

    <p>
      <%= form.label "Username" %><br>
      <%= form.text_field :name, placeholder: "put your username here" %>
    </p>


    <p>
      <%= form.button 'Join Room', type:'submit' %> NOT FUNCTIONAL
    </p>

<% end %>