<h1>Join Existing Room</h1>

<% flash.each do |k, v| %>
    <p><%= v %></p>
<% end %>

<%= form_with scope: :join_room, local: true do |form| %>

    <% if @info.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@info.errors.count, "error") %>
            prevented you from joining this room:
          </h2>
          <ul>
            <% @info.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label "Room Code" %><br>
      <%= form.text_field :roomcode, placeholder: "put your room code here" %>
    </p>

    <p>
      <%= form.label "Username" %><br>
      <%= form.text_field :name, placeholder: "put your username here" %>
    </p>


    <p>
      <%= form.button 'Join Room', type:'submit', :class => "button" %>
    </p>

    <% flash.discard %>
<% end %>

