<script>
    let room_id = <%= @room.id %>;
    let is_active = <%= @room.state.nil? ? 0 : 1 %>;
    let current_question = <%= @room.active_question.nil? ? -1 : @room.active_question %>;

    setInterval(function() {
        $.get('/api/active/' + room_id, data => {

            if(!!data.active != is_active)
        {
            window.location.reload();
        }

        if (data.question != current_question) {
            window.location.href = '/rooms/quiz/' + room_id + '/question/' + current_question;
        }

        console.log(data);
    });
    }, 200);
</script>

<h2><%= @question.body %></h2>
<form method="post" style="margin: 50px;">
  <% @question.answers.each.with_index do |answer, idx| %>
      <input type="radio" name="response" value="<%= idx %>" id="option<%= idx %>"/> <%= answer.text %> <br>
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <button>Submit</button>
</form>
