<p>
  <strong>Name:</strong>
  <%= @room.name %>
  <strong>Password:</strong>
  <span id="password"><%= @room.password %></span>
  <strong>Roomcode:</strong>
  <span id="roomcode"><%= @room.roomcode %></span>
</p>

<a class="button" id="start_quiz" href="/rooms/remote/<%= @room.id.to_s %>">Start Quiz</a>

<%= link_to 'Delete Room', [@room],
            method: :delete, data: {confirm: 'Are you sure?'}, :class => "button delete_room" %>

<a class="button" id="reset_quiz" href="/rooms/reset/<%= @room.id.to_s %>">Reset Quiz</a>
<h2>Questions</h2>
<% @room.questions.each do |question| %>

    <div id="nicebox">
      <p style="text-decoration:none">
        <%= question.body %>
        <%= link_to 'View', [question.room, question], :class => "button question" %>
      </p>

      <p>


      <p>
        <%= link_to 'Delete Question', [question.room, question],
                    method: :delete, data: {confirm: 'Are you sure?'}, :class => "button" %>
      </p>
    </div>
<% end %>

<h2>Add a question:</h2><br>
<%= form_with(model: [@room, @room.questions.build], local: true) do |form| %>
    <p>
      <%= form.label :question_body %>
      <r>
        <%= form.text_field :question_body %>
      </r>
    </p>

    <p>
      <%= form.label :answer_body1 %>
      <r>
        <%= form.text_field :answer_body1 %>
      </r>
    </p>

    <p>
      <%= form.label :answer_body2 %>
      <r>
        <%= form.text_field :answer_body2 %>
      </r>
    </p>

    <p>
      <%= form.label :answer_body3 %>
      <r>
        <%= form.text_field :answer_body3 %>
      </r>
    </p>

    <p>
      <%= form.label :answer_body4 %>
      <r>
        <%= form.text_field :answer_body4 %>
      </r>
    </p>

    <p>
      <%= form.submit "Create Question", :class => "button" %>
    </p>
<% end %>
