<p>
	<strong>Name:</strong>
	<%= @room.name %>
	<strong>Password:</strong>
	<%= @room.password %>
</p>

<h2>Questions</h2>
<% @room.questions.each do |question| %>

 <div id="nicebox">
	<p style="text-decoration:none">
		<%= question.body %>
		<%= link_to 'View', [question.room, question] ,:class => "button" %>
	</p>
	
	<p>


	<p>
		<%= link_to 'Delete Question', [question.room, question],
			method: :delete, data: { confirm: 'Are you sure?' } ,:class => "button" %>
	</p>
 </div>
<% end %>

<h2>Add a question:</h2>
<%= form_with(model: [ @room, @room.questions.build], local: true) do |form| %>
	<p>
		<%= form.label :body %><r>
		<%= form.text_field :body %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>
