<!DOCTYPE html>
<html>
  <head>
    <title>Kwizklicker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to "Home", root_path %>
  <%= link_to "Create Room", new_room_path %>
  <%= link_to "Join Room", show_path %>

  <body>
    <%= yield %>
  </body>
</html>
